firebase-admin
gcloud
google-api-core
google-api-python-client
google-auth
google-auth-httplib2
google-cloud-core
google-cloud-firestore
google-cloud-storage
google-crc32c
google-resumable-media
googleapis-common-protos

pyrebase
phonenumbers

validate_email

flask
flask_restful
flask_jwt_extended
flask_mail

gunicorn