firebase-admin
gcloud
google-api-core
google-api-python-client
google-auth
google-auth-httplib2
google-cloud-core
google-cloud-firestore
google-cloud-storage
google-crc32c
google-resumable-media
googleapis-common-protos

pyrebase~=3.0.27
phonenumbers

validate_email

flask~=1.1.2
flask_restful
flask_jwt_extended
flask_mail

gunicorn
cryptography
google

nltk
spacy
pydub