aniso8601
attrs
beautifulsoup4
blinker
blis
boto3
botocore
CacheControl
cachetools
catalogue
certifi
cffi
chardet
click
cryptography
cymem
Cython
firebase-admin
Flask
Flask-RESTful
gcloud
google
google-api-core
google-api-python-client
google-auth
google-auth-httplib2
google-cloud-core
google-cloud-firestore
google-cloud-storage
google-crc32c
google-resumable-media
googleapis-common-protos
grpcio
gunicorn
httplib2
idna
iniconfig
itsdangerous
Jinja2
jmespath
joblib
jws
MarkupSafe
msgpack
murmurhash
nltk
numpy
oauth2client
packaging
pathy
phonenumbers
plac
pluggy
preshed
proto-plus
protobuf
py
pyasn1
pyasn1-modules
pycparser
pycryptodome
pydantic
pydub
PyJWT
pyparsing
Pyrebase
pytest
python-dateutil
python-jwt
pytz
regex
requests
requests-toolbelt
rsa
s3transfer
six
smart-open
soupsieve
spacy
spacy-legacy
srsly
thinc
toml
tqdm
typer
uritemplate
urllib3
validate-email
wasabi
Werkzeug
pymupdf
