aniso8601
attrs
beautifulsoup4
blinker
blis
boto3
botocore
CacheControl
cachetools
catalogue
certifi
cffi
chardet
click
cryptography
cymem
Cython
firebase-admin
Flask~=2.0.1
Flask-RESTful
gcloud
google
google-api-core
google-api-python-client
google-auth
google-auth-httplib2
google-cloud-core
google-cloud-firestore
google-cloud-storage
google-crc32c
google-resumable-media
googleapis-common-protos
grpcio
gunicorn
httplib2
idna
iniconfig
itsdangerous
Jinja2
jmespath
joblib
jws
MarkupSafe
msgpack
murmurhash
nltk~=3.6.2
numpy
oauth2client
packaging
pathy
phonenumbers
plac
pluggy
preshed
proto-plus
protobuf
py
pyasn1
pyasn1-modules
pycparser
pycryptodome
pydantic
pydub~=0.25.1
PyJWT
pyparsing
Pyrebase~=3.0.27
pytest
python-dateutil
python-jwt
pytz
regex
requests~=2.25.1
requests-toolbelt
rsa
s3transfer
six
smart-open
soupsieve
srsly
thinc
toml
tqdm
typer
uritemplate
urllib3
validate-email
wasabi
Werkzeug~=2.0.1
pymupdf

text2emotion~=0.0.5